{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/www/petrova-club.mvacademy.ru",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2024-10-20T11:05:34.380Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2024-10-20T11:05:34.825Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1729509527484.684,
          "date": "2024-10-21T11:24:00.828Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1729510053348.8235,
          "date": "2024-10-21T11:28:01.881Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1729510058964.2312,
          "date": "2024-10-21T11:28:02.274Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1729510059017.2866,
          "date": "2024-10-21T11:28:02.748Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1729410979353.8337,
          "date": "2024-10-20T11:06:00.882Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1729410985905.0073,
          "date": "2024-10-20T11:06:01.345Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1729410985905.0073,
          "date": "2024-10-20T11:06:01.826Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1729414550848.114,
          "date": "2024-10-20T11:06:02.237Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1729414551315.532,
          "date": "2024-10-20T11:06:02.663Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1729414551316.532,
          "date": "2024-10-20T11:06:03.083Z"
        },
        {
          "file": "css/rules.css",
          "mtimeMs": 1729401677019.5247,
          "date": "2024-10-20T11:05:35.758Z"
        },
        {
          "file": "css/rules.min.css",
          "mtimeMs": 1729401680335.8335,
          "date": "2024-10-20T11:05:36.189Z"
        },
        {
          "file": "css/rules.min.css.map",
          "mtimeMs": 1729401680350.8247,
          "date": "2024-10-20T11:05:36.665Z"
        },
        {
          "file": "oferta/index.html",
          "mtimeMs": 1725104111796.928,
          "date": "2024-10-20T11:06:03.739Z"
        },
        {
          "file": "rules/index.html",
          "mtimeMs": 1725102810759.991,
          "date": "2024-10-20T11:06:04.226Z"
        },
        {
          "file": "css/sch.css",
          "mtimeMs": 1729341596858.2336,
          "date": "2024-10-20T11:05:37.309Z"
        },
        {
          "file": "css/sch.min.css",
          "mtimeMs": 1729341598956.0242,
          "date": "2024-10-20T11:05:37.798Z"
        },
        {
          "file": "css/sch.min.css.map",
          "mtimeMs": 1729341598967.1497,
          "date": "2024-10-20T11:05:38.229Z"
        },
        {
          "file": "fonts/circe.eot",
          "mtimeMs": 1580952051000,
          "date": "2024-10-20T11:05:40.316Z"
        },
        {
          "file": "fonts/circe.svg",
          "mtimeMs": 1580952055000,
          "date": "2024-10-20T11:05:40.873Z"
        },
        {
          "file": "fonts/circe.ttf",
          "mtimeMs": 1580952051000,
          "date": "2024-10-20T11:05:41.453Z"
        },
        {
          "file": "fonts/circe.woff",
          "mtimeMs": 1580952051000,
          "date": "2024-10-20T11:05:41.864Z"
        },
        {
          "file": "fonts/circe.woff2",
          "mtimeMs": 1580952054000,
          "date": "2024-10-20T11:05:42.312Z"
        },
        {
          "file": "fonts/circeBold.eot",
          "mtimeMs": 1581692371000,
          "date": "2024-10-20T11:05:42.866Z"
        },
        {
          "file": "fonts/circeBold.svg",
          "mtimeMs": 1581692376000,
          "date": "2024-10-20T11:05:43.380Z"
        },
        {
          "file": "fonts/circeBold.ttf",
          "mtimeMs": 1581692371000,
          "date": "2024-10-20T11:05:43.932Z"
        },
        {
          "file": "fonts/circeBold.woff",
          "mtimeMs": 1581692371000,
          "date": "2024-10-20T11:05:44.443Z"
        },
        {
          "file": "fonts/circeBold.woff2",
          "mtimeMs": 1581692374000,
          "date": "2024-10-20T11:05:44.934Z"
        },
        {
          "file": "fonts/circeExtrabold.eot",
          "mtimeMs": 1581061585000,
          "date": "2024-10-20T11:05:45.493Z"
        },
        {
          "file": "fonts/circeExtrabold.svg",
          "mtimeMs": 1581061590000,
          "date": "2024-10-20T11:05:46.048Z"
        },
        {
          "file": "fonts/circeExtrabold.ttf",
          "mtimeMs": 1581061585000,
          "date": "2024-10-20T11:05:46.622Z"
        },
        {
          "file": "fonts/circeExtrabold.woff",
          "mtimeMs": 1581061585000,
          "date": "2024-10-20T11:05:47.108Z"
        },
        {
          "file": "fonts/circeExtrabold.woff2",
          "mtimeMs": 1581061589000,
          "date": "2024-10-20T11:05:47.558Z"
        },
        {
          "file": "fonts/delagothicone.eot",
          "mtimeMs": 1671609136000,
          "date": "2024-10-20T11:05:47.957Z"
        },
        {
          "file": "fonts/delagothicone.svg",
          "mtimeMs": 1671609304000,
          "date": "2024-10-20T11:05:49.750Z"
        },
        {
          "file": "fonts/delagothicone.ttf",
          "mtimeMs": 1671609136000,
          "date": "2024-10-20T11:05:50.817Z"
        },
        {
          "file": "fonts/delagothicone.woff",
          "mtimeMs": 1671609136000,
          "date": "2024-10-20T11:05:51.193Z"
        },
        {
          "file": "fonts/delagothicone.woff2",
          "mtimeMs": 1671609290000,
          "date": "2024-10-20T11:05:52.244Z"
        },
        {
          "file": "img/backs/back-mob.png",
          "mtimeMs": 1729404142000,
          "date": "2024-10-20T11:05:52.841Z"
        },
        {
          "file": "img/backs/back.svg",
          "mtimeMs": 1729415171464.2095,
          "date": "2024-10-20T11:05:55.848Z"
        },
        {
          "file": "img/backs/button-mob.png",
          "mtimeMs": 1729404142000,
          "date": "2024-10-20T11:05:56.263Z"
        },
        {
          "file": "img/backs/button.png",
          "mtimeMs": 1729404142000,
          "date": "2024-10-20T11:05:56.731Z"
        },
        {
          "file": "img/backs/price.png",
          "mtimeMs": 1729404142000,
          "date": "2024-10-20T11:05:57.159Z"
        },
        {
          "file": "img/icons/arrow.svg",
          "mtimeMs": 1729340664418.7983,
          "date": "2024-10-20T11:05:57.596Z"
        },
        {
          "file": "img/icons/star.svg",
          "mtimeMs": 1729414777981.0767,
          "date": "2024-10-20T11:05:58.005Z"
        },
        {
          "file": "img/images/dec.png",
          "mtimeMs": 1729404188000,
          "date": "2024-10-20T11:05:58.489Z"
        },
        {
          "file": "img/images/for.png",
          "mtimeMs": 1729404186000,
          "date": "2024-10-20T11:05:59.032Z"
        },
        {
          "file": "img/images/jan.png",
          "mtimeMs": 1729404186000,
          "date": "2024-10-20T11:05:59.437Z"
        },
        {
          "file": "img/images/nov.png",
          "mtimeMs": 1729404186000,
          "date": "2024-10-20T11:05:59.864Z"
        },
        {
          "file": "img/images/petrova.png",
          "mtimeMs": 1729404186000,
          "date": "2024-10-20T11:06:00.415Z"
        },
        {
          "file": "video/main.mp4",
          "mtimeMs": 1729402660008.7317,
          "date": "2024-10-20T11:06:04.906Z"
        },
        {
          "file": "img/backs/back-1.png",
          "mtimeMs": 1729509069731.4417,
          "date": "2024-10-21T11:24:03.036Z"
        },
        {
          "file": "img/backs/back-2.png",
          "mtimeMs": 1729416191838.2642,
          "date": "2024-10-21T11:24:04.391Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/libs.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/scripts.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/oferta.pug",
        "config": {
          "customOutput": "oferta/index.html"
        }
      },
      {
        "file": "_app/politics.pug",
        "config": {
          "customOutput": "politics/index.html"
        }
      },
      {
        "file": "_app/rules.pug",
        "config": {
          "customOutput": "rules/index.html"
        }
      },
      {
        "file": "_app/schedule.pug",
        "config": {
          "customOutput": "schedule/index.html"
        }
      },
      {
        "file": "_app/styl/rules.styl",
        "config": {
          "customOutput": "css/rules.css"
        }
      },
      {
        "file": "_app/styl/sch.min.styl",
        "config": {
          "customOutput": "css/sch.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css/styles.css"
        }
      },
      {
        "file": "css/rules.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css/rules.min.css"
        }
      },
      {
        "file": "css/sch.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css/sch.min.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css/styles.min.css"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/libs.min.js"
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/scripts.min.js"
        }
      }
    ]
  }
}
