section.schedule
	.container
		.row
			.col-md-8
				+gt('general-title-grey', 'Расписание Клуба на&nbsp;октябрь и спикеры')
	.container
		p.next-text.d-none Листайте вправо
		.experts
			.expert
				+img('expert-img','img/images/isakov.png', 'Илья Исаков')
				.expert-info
					p.expert-text
						span Дата:
						|  9.10.2024
					p.expert-text
						span Тема:
						|  Развитие памяти
					p.expert-text
						span Эксперт:
						|  Илья Исаков
					p.expert-text
						span Telegram: 
						a(href='https://t.me/isakov_memory' target="_blank") @isakov_memory
					ul.general-list
						li Преподаватель развития памяти с 2015 года
						li Участник шоу «Удивительные люди», «100 к 1», высшей лиги клуба по игре в «Что? Где? Когда?»
						li Бронзовый призёр Чемпионата России по запоминанию 2021 года
						li Призёр открытых кубков России по запоминанию, вниманию, устному счёту
						li Разработал приложение для изучения армянского, грузинского, корейского, японского и китайского алфавитов
						li Эксперт и создатель курсов в онлайн-школе «Joki Joya»
						li Основатель школы развития памяти и внимания «Мнемоклуб»
			.expert
				+img('expert-img','img/images/tigran.png', 'Тигран Хазов')
				.expert-info
					p.expert-text
						span Дата:
						|  12.10.2024
					p.expert-text
						span Тема:
						|  Хейт и негатив в соцсетях. Как их не бояться и сделать своими союзниками в регулярном ведении контента.
					p.expert-text
						span Эксперт:
						|  Тигран Хазов
					p.expert-text
						span Telegram: 
						a(href='https://t.me/tigranigraet' target="_blank") @tigranigraet
					ul.general-list
						li Актер театра и кино, режиссер мероприятий, контент-режиссер.
						li Всю жизнь что-то придумываю, создаю, сочиняю, креативлю.
						li Создал более 1000 видеороликов для социальных сетей своим клиентам (длинные ролики YouTube, короткие ролики Reels, Shorts, Tiktok)
						li Эксперт по коротким видеороликам
						li Спикер оффлайн школы предпринимателей «Терра» (курс видеопродакшн, школа блогеров) 
						li Резидент клуба ораторов «Школа я-оратор» 
						li Преподаватель по сценической речи, актерскому мастерству и выступлениям на сцене
			.expert
				+img('expert-img','img/images/kolesova.png', 'Колесова Вероника')
				.expert-info
					p.expert-text
						span Дата:
						|  17.10.2024
					p.expert-text
						span Тема:
						|  Продажи через бесплатные диагностические консультации или как за 30 минут продать долгосрочное сопровождение 
					p.expert-text
						span Эксперт:
						|  Колесова Вероника
					p.expert-text
						span Telegram: 
						a(href='https://t.me/nika_vseti' target="_blank") @nika_vseti
					ul.general-list
						li Маркетолог. 13 лет в продажах, 6 лет в продажах онлайн
						li Продает только через бесплатные диагностические консультации, конверсия закрытия в продажу 70% 
						li Сделала свой первый запуск, когда в блоге было всего 180 человек 
						li Обучает системе контролируемых продаж
						li Продвигает блог при помощи всего 1 Reels 
						li Среди клиентов ТОПы инфобиза, в том числе и блогеры-миллионники, запуски более 8 000 000₽ 
						li Обучила более +1300 учеников на своих курсах и программах у блогеров
			.expert
				+img('expert-img','img/images/canva.png', 'Canva')
				.expert-info
					p.expert-text
						span Дата:
						|  23.10.2024
					p.expert-text
						span Тема:
						|  Сам себе дизайнер. Делаем профессиональные презентации и баннеры для соцсетей в графическом редакторе CANVA. Урок в записи. Подходит для новичков в дизайне.
					//- p.expert-text
					//- 	span Эксперт:
					//- 	|  Колесова Вероника
					//- p.expert-text
					//- 	span Telegram: 
					//- 	a(href='https://t.me/nika_vseti' target="_blank") @nika_vseti
					ul.general-list
						li Урок в записи
			.expert
				+img('expert-img','img/images/alex.png', 'Александр Кудряшов')
				.expert-info
					p.expert-text
						span Дата:
						|  20.09.2024 
					p.expert-text
						span Тема:
						|  Цена и ценность. Как повысить чек на свои услуги
					p.expert-text
						span Эксперт:
						|  Александр Кудряшов
					p.expert-text
						span Telegram: 
						a(href='https://t.me/aleksandrkudryashov1' target="_blank") @aleksandrkudryashov1
					ul.general-list
						li Бизнесмен с 14-ти летним опытом
						li За всю жизнь проработал по найму 3 недели, пока практиковался в институте
						li Основатель образовательного проекта MasterVision с более чем 30 000 выпускников
						li Эксперт по построению реферальных программ
						li Автор книги «Партнерская программа для вашего бизнеса» 
						li Автор книги «Дистанционное видение» 
						li Резидент клуба предпринимателей EdGlobal
						li Эксперт в области прямых продаж, продаж по телефону, продаж по переписке, продаж через через диагностики. Практический опыт 13 лет
			.expert
				+img('expert-img','img/images/masyul.png', 'Юлия Масюль')
				.expert-info
					p.expert-text
						span Дата:
						|  27.09.2024 
					p.expert-text
						span Тема:
						|  Базовые принципы прогрева аудитории
					p.expert-text
						span Эксперт:
						|  Юлия Масюль
					p.expert-text
						span Telegram: 
						a(href='https://t.me/jmasyul' target="_blank") @jmasyul
					ul.general-list
						li Эксперт по запускам обучающих программ, мастер-классов, наставничества.  
						li SMM-специалист
						li Наставник экспертов 
						li Ниши запусков: психология, эзотерика. Опыт работы в онлайне 9 лет.
						li Принесла своим экспертам более 100 млн руб.
						li Владеет структурой запусков онлайн продуктов, пошаговыми действиями, которые применимы в разных нишах, для запуска своих проектов.
						li Навыки продвижения экспертов, а также коммерческих аккаунтов в социальных сетях.
						li Запускала собственные обучающие курсы: интернет маркетолог, специалист в Вконтакте, креативные видео. Вела обучающие программы партнеров Академии MasterVision по направлению развитие социальных сетей.