#schedule
	padding 200px 0
.nav-tab-img
	display none
.nav-tabs
	margin-left: 80px
	border-bottom: 0
	& > li > a
		font-size: 30px
		font-weight: bold
		color: rgba(#fff, 0.5)
		background-color: #022044
		border-radius: 15px 15px 0 0
		border: 1px solid #186079
		padding 20px 60px 10px
		text-transform uppercase
		margin-right: 0
		transition: all .3s ease
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
	opacity 1
	color #fff
	background-color: #022044
	border: 1px solid #186079
	border-bottom-color #022044
	transition: all .3s ease
.nav-tabs > li > a:hover
	border: 1px solid #186079
	border-bottom-color #022044
	transition: all .3s ease
	color #fff
.nav > li > a:focus, .nav > li > a:hover
	transition: all .3s ease
	background-color: #022044
.tab-content
	padding 0 40px 150px 70px
	background: #022044 linear-gradient(to bottom, #022044 0%, #0B141B 100%)
	border-radius: 15px
	border: 1px solid #186079
.tab-pane-title
	display flex
	flex-direction: row
	align-items: center
	justify-content: flex-start
	padding 10px 0
	h4
		font-size: 40px
		font-weight: bold
		color #D16A1E
		margin-left: 40px