C = 'circe', sans-serif;
D = 'delagothicone', sans-serif;

@font-face
	font-family: 'circe';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/circe.eot');
	src: url('../fonts/circe.eot') format('embedded-opentype'),url('../fonts/circe.woff2') format('woff2'),url('../fonts/circe.woff') format('woff'),url('../fonts/circe.ttf') format('truetype'),url('../fonts/circe.svg#circe') format('svg');
@font-face
	font-family: 'circe';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/circeBold.eot');
	src: url('../fonts/circeBold.eot') format('embedded-opentype'),url('../fonts/circeBold.woff2') format('woff2'),url('../fonts/circeBold.woff') format('woff'),url('../fonts/circeBold.ttf') format('truetype'),url('../fonts/circeBold.svg#circeBold') format('svg');
@font-face
	font-family: 'circe';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/circeExtrabold.eot');
	src: url('../fonts/circeExtrabold.eot') format('embedded-opentype'),url('../fonts/circeExtrabold.woff2') format('woff2'),url('../fonts/circeExtrabold.woff') format('woff'),url('../fonts/circeExtrabold.ttf') format('truetype'),url('../fonts/circeExtrabold.svg#circeExtrabold') format('svg');
@font-face
	font-family: 'delagothicone';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/delagothicone.eot');
	src: url('../fonts/delagothicone.eot') format('embedded-opentype'),url('../fonts/delagothicone.woff2') format('woff2'),url('../fonts/delagothicone.woff') format('woff'),url('../fonts/delagothicone.ttf') format('truetype'),url('../fonts/delagothicone.svg#delagothicone') format('svg');