footer
	padding 50px 0
	background-color: #040509
	color #fff
	@media screen and (max-width 560px)
		padding 30px 0
	p
		font-size: 18px
		margin-bottom: 5px
.footer-img
	@media screen and (max-width 991px)
		margin-bottom: 15px
.footer-link
	color #fff
	// display inline-block
	text-decoration: none
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color: #fff
		text-decoration: none
	&-rules
		margin 20px 0 25px
	&-email
		@media screen and (max-width 991px)
			margin-top: 30px
.footer-text
	text-align right
	@media screen and (max-width 991px)
		text-align: left