section#for
	.my-container
		.my-container-items
			.my-container-item
				+img('my-container-items-img', 'img/images/for.png', 'Анастасия Петрова')
			.my-container-item.my-container-item-grad.my-container-item-for
				h4.my-container-item-title если вы:
				ul.general-list
					li интересуетесь эзотерическими знаниями, ​ищете для себя учителя, не знаете с чего ​начать;
					li уже изучаете мистические практики и ​ищете своё комьюнити, где можно ​ошибаться, задавать вопросы, обучаться из ​месяца в месяц;
					li являетесь практикующим мастером ​сакральных искусств, и хотите углублять ​свои практики и совершенствоваться.
				p Я, Анастасия Петрова, жду  вас в сообществе.