section#format
	.container
		+gt('', 'ФОРМАТ КЛУБА')
		.format-item
			h4.format-item-title Доступ в закрытый Telegram-канал
			p.format-item-text где будут проводиться прямые эфиры, уроки, практики на ​разные эзотерические темы.
		.format-item
			h4.format-item-title Клуб “Школа практической трансформации”
			p.format-item-text это не просто сообщество. Это обширная база ​знаний для развития каждого участника.