section#how
	.container
		+gt('', 'КАК ПРИНЯТЬ УЧАСТИЕ')
		.prices
			a.price(href=cost1 target="_blank")
				p 1 месяц
				p 1 490 ₽
			a.price(href=cost2 target="_blank")
				p 3 месяц
				p 4 170 ₽
			a.price(href=cost3 target="_blank")
				p 6 месяц
				p 7 740 ₽
		p Каждый месяц в клубе посвящен определенной теме. Каждую неделю проводятся прямые эфиры, ​даются теоретические и практические задания, которые выполняются под руководством эксперта.