section#schedule
	.container
		+gt('', 'Расписание клуба')
		ul.nav.nav-tabs#sched-table(role="tablist")
			li(role="presentation").active
				a(href="#nov" aria-controls="nov" role="tab" data-toggle="tab" aria-expanded="true")
					+img('nav-tab-img', 'img/images/nov.png', 'Ноябрь')
					p Ноябрь
			li(role="presentation")
				a(href="#dec" aria-controls="dec" role="tab" data-toggle="tab" aria-expanded="false")
					+img('nav-tab-img', 'img/images/dec.png', 'Декабрь')
					p Декабрь
			li(role="presentation")
				a(href="#jan" aria-controls="jan" role="tab" data-toggle="tab" aria-expanded="false")
					+img('nav-tab-img', 'img/images/jan.png', 'Январь')
					p Январь
		.tab-content#sched-table-content
			.tab-pane.fade.active.in#nov(role="tabpanel")
				.tab-pane-title
					+img('tab-pane-title-img', 'img/images/nov.png', '')
					h4 Привлечения удачи, создания покоя и тепла в личном пространстве и в своем доме.
				p В этом месяце мы ежедневно прибегаем к свечной науке и жжем свечи, делаем практики. Очищаем ​себя и жилище.
				p Учимся отражать разные атаки, и определять желает ли вам зла тот или иной человек.
				p Работаем с любовным направлением — создаем алтарь и гармонизируем отношения.
				p Изучим свойства камней и как правильно носить украшения из камня, чтобы грамотно управлять ​энергией и направлять ее в нужную сторону.
				p В этом месяце будет два энергетически мощных дня: день Богини Гекаты и Михайлов день. Это ​время исцеляющих практик, и мы обязательно должны его провести с пользой для себя, ​улучшить свое физическое, эмоциональное и финансовое здоровье.
			.tab-pane.fade#dec(role="tabpanel")
				.tab-pane-title
					+img('tab-pane-title-img', 'img/images/dec.png', '')
					h4 Новогодний шабаш
				p С декабря начинается особенное время — зимнее солнцестояние и переход в новый календарный ​год. Происходят мощные энергетические изменения. Это время избавления от старого и формирование новых целей. В течение всего декабря мы будем проводить прямые эфиры для ​исполнения желаний. Будем создавать специальные порошки на привлечение желаемого и на ​быстрый приход финансов.
				p Разберем как правильно загадывать желания и отдавать старое на трансформацию, чтобы для ​нового было место в жизни. За это время у вас накопится целая методичка с практиками, которые ​пригодятся вам на 10 лет вперёд. Будем работать с воском.
				p Совместно проведем новогодний шабаш и манифестацию изобилия.
				p Будем практиковать на раскрытие и расширение канала удачи. Произведём с вами отмену ​блоков и начнём привлекать силы для помощи в исполнении ваших просьб.
			.tab-pane.fade#jan(role="tabpanel")
				.tab-pane-title
					+img('tab-pane-title-img', 'img/images/jan.png', '')
					h4 Квантовый переход в новый год.
				p С 6 января начинаем воплощать свои мечты в жизнь. Посвящаем святочный период работе - заключением договора с эгрегором денег, отключением от эгрегоров не создающих успеха и врываемся в новый год решительно наметив планы и создав колесо желаний. Январь месяц закладывает энергию на год, как год начнём так его и проживем.   
				p Кроме святочного периода, традиций и обрядов, будет заговорные ритуалы и шепотки на удачу. Как их создавать, чем отличается заговор от заклинания, всё это будем разбирать вместе. Как правильно сделать на год карту богатства, как на ближайшие 6 лет заложить цели и задать им вектор реализации, все это проделаем с вами вместе в прямых эфирах закрытого клуба. 
				p Ежедневная систематическая работа и движение по правильному пути, все это запустит мощную трансформацию жизни и вы обратите на себя внимание вселенной, а она, как вы знаете щедро отсыпает удачу тем, кто идет верным путём. Вот поэтому маги и живут по принципу: захотел-получил!