section#get
	.container
		+gt('','получить доступ в клуб')
		.prices.prices-get
			a.price(href=price1 target="_blank")
				p 1 месяц
				p 1 490 ₽
			a.price(href=price2 target="_blank")
				p 3 месяца
				p 4 170 ₽
			a.price(href=price3 target="_blank")
				p 6 месяцев
				p 7 740 ₽