section#author
	.my-container
		.my-container-items.my-container-items-author
			+img('.my-container-items-img', 'img/images/petrova.png', 'Анастасия Петрова')
			.my-container-item.my-container-item-for
				h4.my-container-title
					small Ведущая клуба
					| АНАСТАСИЯ ПЕТРОВА
				ul.general-list
					li Автор запатентованного в РФ метода работы с ​мышлением и ресурсами мозга Neuromodeling.
					li Автор легендарного метода развития ​экстрасенсорных способностей - Экстрасенсорное ​видение.
					li Обучила за последние 5 лет, более 4500 человек, ​получивших новую профессию, и помогающих людям ​по всему миру.
					li Расстановщик, наставник, экстрасенс, психолог по ​направлению формирования конфликтологической ​компетентности.
					li Участница знаменитой поляны битвы экстрасенсов - ​23 сезона.