section#get-2
	.container
		+gt('', 'ВХОД В КЛУБ ЗАКРОЕТСЯ ЧЕРЕЗ')
		.clock
		+gt('', 'принять участие')
		.get2-items
			a.get2-item(href=price1 target='_blank')
				p 1 месяц
				p 1 490 ₽
			a.get2-item(href=price2 target='_blank')
				p 3 месяц
				p 4 170 ₽
			a.get2-item(href=price3 target='_blank')
				p 6 месяц
				p 7 740 ₽